body {
    /* height: 100vh; */
    /* overflow: hidden; */
    /* margin: 0!important; */
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

body > form{
    flex-grow: 1;
    margin-bottom: 50px;
}

div.page {
    border-top: 0px solid #496077;
}

div.page > table > tbody > tr:nth-child(1) {
    position: sticky;
    height: 150px;
    /* background: green; */
    width: 1000px;
    top: 0px;
    z-index: 20;
}

td.header {    
    border-top: 1px solid #496077;
}

#ctl01 > div.page > table > tbody > tr:nth-child(2) > td:nth-child(1) > div {
    position: sticky;
    top: 150px;
}

.page, #ctl01 > div.page > table > tbody > tr:nth-child(2) {
    height: 100%!important;
}

td.content {
    background-image: initial!important;
    height: 100%!important;
    display: flex;
}

td.seperator {
    background-repeat: repeat-y!important;
}

#maincontent {
    width: 100%!important;
    height: initial!important;
    overflow: hidden!important;
}

#MainContent_grvAktuelles {
    width: 100%;
}

#MainContent_grvAktuelles_content_0 > table {
    table-layout: fixed;
}