div > div > div[id^="t3_z="],
div > div > div.promotedlink {
    opacity: 0.2;
    display: none;
}

div[data-adclicklocation="background"] + div:not([class]) > div:not([class]) {
    display: none!important;
}
