div > div > div[id^="t3_z="],
div > div > div.promotedlink {
    opacity: 0.2;
    display: none;
}

#data-protection-consent-dialog,
div[data-adclicklocation="background"] + div:not([class]) > div:not([class]),
shreddit-ad-post,
shreddit-comments-page-ad {
    display: none!important;
}
