#gdpr-consent-tool-wrapper,
.cmp_app.cmp_overwriteLevel1#consentDialog,
#chrome > div.cc_banner-wrapper > div.cc_banner.cc_container.cc_container--open,
#qc-cmp2-container.qc-cmp2-container,
.snigel-cmp-framework#snigel-cmp-framework,
#didomi-notice,
div.cookie-alert.t-dark,
div#BorlabsCookieBoxWrap,
div#BorlabsCookieBox,
div#cookiebanner,
amp-consent#ampforwpConsent,
cmp-banner,
#easycmp,
div.popup.popup__cookie,
#cookie-consent,
#sp-cc,
#cookie-banner,
#klaro > div > div,
#SgCookieOptin,
div.contao-cookiebar.cookiebar_default.cc-top.cc-blocked.cc-active,
div.cc_overlay_lock,
#cookieman-modal,
#cc-banner-wrap,
div.amgdprcookie-bar-template,
div.CookieBanner.output,
#usercentrics-button,
#cookiebanner-next,
div.ccm-root.ccm--tcf-enabled,
#ez-cookie-dialog-wrapper,
img[width="1"][height="1"] + div.needsclick,
#cookie-consent-outer,
.eightworks-cookie-consent-plus,
#zdf-cmp-consent-sdk,
#consentBanner,
html > body div[is_cookie_banner_hide],
html > body > div[is_cookie_banner_hide],
html > body *[is_cookie_banner_hide],
html > body > *[is_cookie_banner_hide],
*[is_cookie_banner_hide] {
    display: none!important;
}

html.ccm-blocked[xmlns="https://www.w3.org/1999/xhtml"],
html > body.ccm-blocked,
html[is_cookie_banner_initial_overflow],
body[is_cookie_banner_initial_overflow],
*[is_cookie_banner_initial_overflow] {
    overflow: initial!important;
}
