.adbox:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    content: "Anzeige";
}

/* Willhaben */
#apn-large-leaderboard,
#apn-large-skyscraper,
#apn-large-bottom-ad {
    display: none;
}