#movie_player.ad-interrupting > div.html5-video-container > video {
    opacity: 0;
}

div.ytp-ad-image-overlay, div.ytp-ad-text-overlay {
    display: none;
}

#movie_player > div.video-ads.ytp-ad-module {
    opacity: 0;
}

#companion > ytd-action-companion-ad-renderer,
#movie_player > div.ytp-cued-thumbnail-overlay,
#movie_player > div.ytp-chrome-top,
#player-ads,
ytd-promoted-sparkles-web-renderer,
body > ytd-app > ytd-popup-container > tp-yt-paper-dialog.style-scope.ytd-popup-container,
#masthead-ad {
    display: none!important;
}