.yt-video-user-state-container {
    font-size: 13px;
    display: flex;
}

ytd-grid-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 114px;
    height: 4px;
}

ytd-grid-video-renderer:hover > .yt-video-user-state-container {
    top: 93px;
}

ytd-compact-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 168px;
    height: 4px;
}

ytd-compact-video-renderer:hover > .yt-video-user-state-container {
    top: calc(100% - 25px);
}

ytd-rich-item-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4px;
    margin-top: calc(56.25% - 4px);
}

ytd-rich-item-renderer:hover > .yt-video-user-state-container {
    margin-top: calc(56.25% - 25px);
}

ytd-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 360px;
    max-width: 48.7%;
    height: 4px;
}

ytd-video-renderer:hover > .yt-video-user-state-container {
    top: calc(100% - 25px);
}

ytd-playlist-panel-video-renderer {
    position: relative;
}

ytd-playlist-panel-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 24px;
    top: 56px;
    width: 100px;
    height: 4px;
}

ytd-playlist-panel-video-renderer:hover > .yt-video-user-state-container {
    top: 35px;
}

*:hover > .yt-video-user-state-list-item {
    height: initial;
    padding-top: initial;
}

.yt-video-user-state-action-button {
    flex-grow: 1;
    text-align: center;
    margin: 2px;
    color: white;
    border: 2px solid #BBBBBB;
    cursor: pointer;
}

.yt-video-user-state-list-item > .yt-video-user-state-action-button {
    display: none;
}

*:hover > .yt-video-user-state-list-item > .yt-video-user-state-action-button {
    display: initial;
}

.yt-video-user-state-action-button:hover {
    flex-grow: 1;
    text-align: center;
    margin: 2px;
    color: black;
    background: white;
}

.yt-video-user-state-action-button-count {
    cursor: default;
}

.yt-video-user-state-watch {
    margin-left: 5px;
    width: 200px;
}

.yt-video-user-state-unkown {
    background: white;
    display: none;
}

.yt-video-user-state-watched {
    background: #009900;
}

.yt-video-user-state-active {
    background: #990000;
}

.yt-video-user-state-inactive {
    background: purple;
}

.yt-video-user-state-inactive-depricated {
    background: #CC7600;
}

.yt-video-user-state-count {
    background: grey;
}