.yt-video-user-state-container {
    font-size: 13px;
}

.yt-video-user-state-watch {
    margin-left: 5px;
}

.yt-video-user-state-list-item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px 1px 2px 1px;
    margin: 2px;
    border-radius: 3px;
}

.yt-video-user-state-unkown {
    background: white;
    cursor: default;
}

.yt-video-user-state-watched {
    background: white;
}

.yt-video-user-state-active {
    background: white;
}

.yt-video-user-state-inactive {
    background: orange;
    cursor: default;
}

.yt-video-user-state-count {
    background: white;
    cursor: default;
}

.yt-video-user-state-deletable {
    cursor: pointer;
}