body.yt-extension-display-video-states .overlay.ytd-reel-video-renderer {
    overflow: visible;
}

body.yt-extension-display-video-states ytd-reel-player-overlay-renderer > #actions.style-scope.ytd-reel-player-overlay-renderer {
    align-items: flex-start;
}

body.yt-extension-display-video-states ytd-video-owner-renderer.ytd-watch-metadata {
    align-items: center;
}
