ytd-watch-flexy > #columns > #secondary > #secondary-inner > #related > ytd-watch-next-secondary-results-renderer > #items > ytd-item-section-renderer > #contents {
    display: flex;
    flex-direction: column;
}

*[data-yt-extension-hidden="true"] {
    display: none;
}

ytd-compact-video-renderer,
ytd-compact-playlist-renderer,
ytd-compact-movie-renderer {
    order: 10000;
}

ytd-continuation-item-renderer {
    order: 10001;
}

.yt-extension-load-recommanded-videos ytd-continuation-item-renderer {
    top: 0;
    right: 0;
    position: fixed;
}
