.yt-video-user-state-container {
    z-index: 5;
}

.yt-video-user-state-container > div {
    font-size: 13px;
    display: flex;
    height: 100%;
}

ytd-grid-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 114px;
    height: 4px;
}

ytd-grid-video-renderer.yt-horizontal-list-renderer > .yt-video-user-state-container {
    margin-right: 4px;
}

ytd-grid-video-renderer:hover > .yt-video-user-state-container,
ytd-grid-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: 93px;
    height: initial;
}

ytd-compact-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 168px;
    height: 4px;
}

ytd-compact-video-renderer:hover > .yt-video-user-state-container,
ytd-compact-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: calc(100% - 25px);
    height: initial;
}

ytd-rich-item-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4px;
    margin-top: calc(56.25% - 4px);
}

ytd-rich-item-renderer:hover > .yt-video-user-state-container,
ytd-rich-item-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    margin-top: calc(56.25% - 25px);
    height: initial;
}

ytd-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 360px;
    max-width: 48.7%;
    height: 4px;
}

ytd-video-renderer.ytd-channel-featured-content-renderer > .yt-video-user-state-container {
    width: 246px;
}

ytd-video-renderer:hover > .yt-video-user-state-container,
ytd-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: calc(100% - 25px);
    height: initial;
}

ytd-playlist-panel-video-renderer {
    position: relative;
}

ytd-playlist-panel-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 24px;
    top: 56px;
    width: 100px;
    height: 4px;
}

ytd-playlist-panel-video-renderer.ytd-playlist-panel-renderer:first-of-type > .yt-video-user-state-container {
    top: 60px;
}

ytd-playlist-panel-video-renderer:hover > .yt-video-user-state-container,
ytd-playlist-panel-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: 35px;
}

*:hover > .yt-video-user-state-container > .yt-video-user-state-list-item,
.yt-video-user-state-container.yt-video-user-state-container-not-collapse > .yt-video-user-state-list-item {
    height: initial;
    padding-top: initial;
}

.yt-video-user-state-action-button {
    text-align: center;
    margin: 2px;
    color: white;
    border: 2px solid #BBBBBB;
    cursor: pointer;
    height: 17px;
    padding: 0 10px;
}

.yt-video-user-state-action-button:not(.video-state-dropdown-action-button) {
    flex-grow: 1;
}

.yt-video-user-state-list-item > .yt-video-user-state-action-button {
    display: none;
}

*:hover > .yt-video-user-state-container > .yt-video-user-state-list-item > .yt-video-user-state-action-button,
.yt-video-user-state-container.yt-video-user-state-container-not-collapse > .yt-video-user-state-list-item > .yt-video-user-state-action-button {
    display: initial;
}

.yt-video-user-state-action-button:hover {
    color: black;
    background: white;
}

.yt-video-user-state-action-button-count {
    cursor: default;
}

.yt-video-user-state-watch {
    margin-left: 5px;
    width: 200px;
}

.yt-video-user-state-unkown {
    background: transparent;
}

.yt-video-user-state-missing {
    background: repeating-linear-gradient(-45deg, white 0 10px, black 10px 20px);
}

.yt-video-user-state-missing > .yt-video-user-state-action-button {
    height: 25px;
    margin: 0px!important;
    border: initial!important;
    cursor: default!important;
    background: transparent!important;
}

.yt-video-user-state-watched {
    background: #009900;
}

.yt-video-user-state-active {
    background: #990000;
}

.yt-video-user-state-inactive {
    background: purple;
}

.yt-video-user-state-inactive-depricated {
    background: #CC7600;
}

.yt-video-user-state-count {
    background: grey;
}