.video-state-dropdown-container {
    position: relative;
    z-index: 1000;
}

.video-state-dropdown-action-button {
    flex-grow: 0;
}

.video-state-dropdown-action-button::after {
    content: '…';
}

.video-state-dropdown-menu-container {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #fAfAfA;
    padding: 5px 10px;
    border: gray solid 1px;
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 55%);
}

div.ytd-reel-player-overlay-renderer .video-state-dropdown-container > .video-state-dropdown-menu-container {
    top: initial;
    bottom: 0;
    right: 40px;
}

.video-state-dropdown-menu-item {
    margin: 5px 5px;
    white-space: nowrap;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.video-state-dropdown-menu-item:hover {
    color: #4f4f4f;
}
