.yt-video-user-state-container {
    z-index: 500;
}

.yt-video-user-state-container > div.yt-video-user-state-item {
    font-size: 13px;
    display: flex;
    height: 100%;
}

div.ytd-reel-player-overlay-renderer > .yt-video-user-state-container.yt-video-user-state-watch > div.yt-video-user-state-item {
    flex-direction: column;
}

ytd-grid-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 114px;
    height: 4px;
}

ytd-grid-video-renderer.yt-horizontal-list-renderer > .yt-video-user-state-container {
    margin-right: 4px;
}

ytd-grid-video-renderer:hover > .yt-video-user-state-container,
ytd-grid-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: 93px;
    height: initial;
}

ytd-compact-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 168px;
    height: 4px;
}

ytd-compact-video-renderer:hover > .yt-video-user-state-container,
ytd-compact-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: calc(100% - 25px);
    height: initial;
}

ytd-rich-item-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4px;
    margin-top: calc(56.25% - 4px);
}

ytd-rich-shelf-renderer[is-shorts] ytd-rich-item-renderer > .yt-video-user-state-container,
ytd-rich-item-renderer[is-shorts-grid] > .yt-video-user-state-container {
    margin-top: calc(177.78% - 4px);
}

ytd-rich-item-renderer:hover > .yt-video-user-state-container,
ytd-rich-item-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    margin-top: calc(56.25% - 25px);
    height: initial;
}

ytd-rich-shelf-renderer[is-shorts] ytd-rich-item-renderer:hover > .yt-video-user-state-container,
ytd-rich-shelf-renderer[is-shorts] ytd-rich-item-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse,
ytd-rich-item-renderer[is-shorts-grid]:hover > .yt-video-user-state-container,
ytd-rich-item-renderer[is-shorts-grid] > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    margin-top: calc(177.78% - 25px);
    height: initial;
}

ytd-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    width: 360px;
    max-width: 48.7%;
    height: 4px;
}

ytd-video-renderer.ytd-channel-featured-content-renderer > .yt-video-user-state-container {
    width: 246px;
}

ytd-video-renderer:hover > .yt-video-user-state-container,
ytd-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: calc(100% - 25px);
    height: initial;
}

ytd-playlist-panel-video-renderer {
    position: relative;
}

ytd-playlist-panel-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 24px;
    top: 56px;
    width: 100px;
    height: 4px;
}

ytd-playlist-panel-video-renderer.ytd-playlist-panel-renderer:first-of-type > .yt-video-user-state-container {
    top: 60px;
}

ytd-playlist-panel-video-renderer:hover > .yt-video-user-state-container,
ytd-playlist-panel-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: 35px;
}

*:hover > .yt-video-user-state-container.yt-video-user-state-list-item > .yt-video-user-state-item,
.yt-video-user-state-container.yt-video-user-state-container-not-collapse.yt-video-user-state-list-item > .yt-video-user-state-item {
    height: initial;
    padding-top: initial;
}

ytd-playlist-video-renderer {
    position: relative;
}

ytd-playlist-video-renderer > .yt-video-user-state-container {
    position: absolute;
    left: 36px;
    top: 94px;
    width: 160px;
    height: 4px;
}

ytd-playlist-video-renderer:hover > .yt-video-user-state-container,
ytd-playlist-video-renderer > .yt-video-user-state-container.yt-video-user-state-container-not-collapse {
    top: 73px;
    height: initial;
}

.yt-video-user-state-action-button {
    text-align: center;
    margin: 2px;
    color: white;
    border: 2px solid #BBBBBB;
    cursor: pointer;
    height: 17px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.ytd-reel-player-overlay-renderer > .yt-video-user-state-container.yt-video-user-state-watch > .yt-video-user-state-item > .yt-video-user-state-action-button {
    padding: 5px 0;
}

.yt-video-user-state-action-button:not(.video-state-dropdown-action-button) {
    flex-grow: 1;
}

.yt-video-user-state-list-item > .yt-video-user-state-item > .yt-video-user-state-action-button {
    display: none;
}

*:hover > .yt-video-user-state-container.yt-video-user-state-list-item > .yt-video-user-state-item > .yt-video-user-state-action-button,
.yt-video-user-state-container.yt-video-user-state-container-not-collapse.yt-video-user-state-list-item > .yt-video-user-state-item > .yt-video-user-state-action-button {
    display: initial;
}

.yt-video-user-state-action-button:hover {
    color: black;
    background: white;
}

.yt-video-user-state-action-button-count {
    cursor: default;
}

#bottom-row > .yt-video-user-state-container.yt-video-user-state-watch,
#owner-and-teaser > .yt-video-user-state-container.yt-video-user-state-watch {
    margin-top: 12px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

div#info-text.style-scope.ytd-video-primary-info-renderer {
    margin-right: 5px;
}

.yt-video-user-state-container.yt-video-user-state-watch > .yt-video-user-state-item {
    width: 200px;
    height: 25px;
}

div.ytd-reel-player-overlay-renderer > .yt-video-user-state-container.yt-video-user-state-watch > .yt-video-user-state-item { 
    width: 40px;
    height: 150px;
}

.yt-video-user-state-unkown {
    background: transparent;
}

.yt-video-user-state-missing {
    background: white;
}

.yt-video-user-state-missing.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, white 0 10px, black 10px 20px);
}

.yt-video-user-state-missing > .yt-video-user-state-action-button {
    height: 25px;
    margin: 0px!important;
    border: initial!important;
    cursor: default!important;
    background: transparent!important;
}

.yt-video-user-state-updating {
    pointer-events: none;
}

.yt-video-user-state-watched {
    background: #009900;
}

.yt-video-user-state-watched.yt-video-user-state-updating {
    background: #40B940;
}

.yt-video-user-state-watched.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #009900 10px 20px);
}

.yt-video-user-state-watched.yt-video-user-state-updating.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #40B940 10px 20px);
}

.yt-video-user-state-active {
    background: #990000;
}

.yt-video-user-state-active.yt-video-user-state-updating {
    background: #C94040;
}

.yt-video-user-state-active.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #990000 10px 20px);
}

.yt-video-user-state-active.yt-video-user-state-updating.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #C94040 10px 20px);
}

.yt-video-user-state-inactive {
    background: purple;
}

.yt-video-user-state-inactive.yt-video-user-state-updating {
    background: rgb(158, 50, 158);
}

.yt-video-user-state-inactive.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, purple 10px 20px);
}

.yt-video-user-state-inactive.yt-video-user-state-updating.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, rgb(158, 50, 158) 10px 20px);
}

.yt-video-user-state-inactive-depricated {
    background: #CC7600;
}

.yt-video-user-state-inactive-depricated.yt-video-user-state-updating {
    background: #FC9660;
}

.yt-video-user-state-inactive-depricated.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #CC7600 10px 20px);
}

.yt-video-user-state-inactive-depricated.yt-video-user-state-updating.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, #FC9660 10px 20px);
}

.yt-video-user-state-count {
    background: grey;
}

.yt-video-user-state-count.yt-video-user-state-updating {
    background: rgb(180, 180, 180);
}

.yt-video-user-state-inactive-depricated.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, grey 10px 20px);
}

.yt-video-user-state-inactive-depricated.yt-video-user-state-updating.yt-video-user-state-unkown-at-first {
    background: repeating-linear-gradient(-45deg, black 0 10px, rgb(180, 180, 180) 10px 20px);
}

h1.ytd-watch-metadata.yt-video-user-state-watch-root {
    display: flex!important;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    max-height: 8.4rem!important;
    overflow: visible!important;
}

.yt-video-user-state-watch-root>yt-formatted-string {
    flex-grow: 1;
}
