.yt-extension-filter-videos-row-contianer {
    margin: 3px;
    display: flex;
    flex-direction: row;
}

.yt-extension-filter-videos-select-contianer {
    margin: 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}