.yt-extension-filter-recommended-videos-container {
    margin-bottom: 6px;
}

.yt-extension-filter-videos-row-contianer {
    margin: 1px;
    display: flex;
    flex-direction: row;
}

.yt-extension-filter-videos-select-contianer {
    margin: 3px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
