body:not(.disable-video-player-manipulation) #movie_player.ad-interrupting > div.html5-video-container > video {
    opacity: 0;
}

body:not(.disable-video-player-manipulation) div.ytp-ad-image-overlay, div.ytp-ad-text-overlay {
    display: none;
}

body:not(.disable-video-player-manipulation) #movie_player > div.video-ads.ytp-ad-module {
    opacity: 0;
}

body:not(.disable-video-player-manipulation) #companion > ytd-action-companion-ad-renderer,
body:not(.disable-video-player-manipulation) #movie_player > div.ytp-cued-thumbnail-overlay,
body:not(.disable-video-player-manipulation) #movie_player.ad-interrupting > div.ytp-chrome-top,
body:not(.disable-video-player-manipulation) #player-ads,
body:not(.disable-video-player-manipulation) ytd-promoted-sparkles-web-renderer,
body:not(.disable-video-player-manipulation) #masthead-ad,
body:not(.disable-video-player-manipulation) a.yt-extension-next-video,
body:not(.disable-video-player-manipulation) div.ytp-ad-underlay,
body:not(.disable-video-player-manipulation) ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"] {
    display: none!important;
}

a.yt-extension-end-video {
    cursor: pointer;
}

a.yt-extension-end-video.yt-extension-ending-video {
    display: none;
}
